/* Color */
/* Fonts */
/* --------------- MIXIN S ------------------*/
@font-face {
  font-family: "Arial-Black";
  src: url("fonts/Arial-Black.ttf"); }
@font-face {
  font-family: "Arial-BoldMT";
  src: url("fonts/Arial-BoldMT.ttf"); }
@font-face {
  font-family: "Arial-MT";
  src: url("fonts/Arial-MT.ttf"); }
@font-face {
  font-family: "Arial";
  src: url("fonts/Arial.ttf"); }
@font-face {
  font-family: "Black-OpsOne";
  src: url("fonts/BlackOpsOne-Regular.ttf"); }
@font-face {
  font-family: "Impact";
  src: url("fonts/Impact.ttf"); }
a {
  font: inherit;
  color: inherit; }
a:hover {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

h1 {
  font: 54px "Impact";
  text-transform: capitalize; }

h2 {
  font: 30px "Arial-BoldMT";
  color: #3c5c71;
  text-transform: capitalize;
  padding-bottom: 30px; }
h2 .fa {
  margin-right: 10px; }

h3 {
  /*font: 15px $a-M;*/
  font: 17px "Arial";
  color: #3c5c71;
  text-transform: capitalize;
  margin-bottom: 10px; }

.sp-btn {
  display: inline-block;
  padding: 7px 20px;
  text-transform: capitalize;
  font: 20px "Impact";
  background-color: transparent;
  border: none; }

.sp-btn-primary {
  color: #3c5c71;
  background-color: #faffa5;
  box-shadow: 3px 3px 5px #716868; }

.sp-btn-icon {
  border: 1px solid #3c5c71;
  padding: 7px 10px;
  font: 16px "Arial";
  color: #3c5c71;
  margin-bottom: 20px; }
.sp-btn-icon .fa {
  margin-right: 10px; }
.sp-btn-icon:hover {
  color: #faffa5;
  background-color: #3c5c71;
  box-shadow: 3px 3px 5px #716868; }

.header-section .navbar {
  background-color: #3c5c71;
  color: #faffa5;
  height: 60px; }
.header-section .navbar .navbar-brand {
  max-height: 50px; }
.header-section .navbar .navbar-brand img {
  height: 40px; }
.header-section .navbar .navbar-nav li {
  display: inline-block;
  font: 17px Arial; }
.header-section .navbar .navbar-nav li a {
  color: #aedea4;
  padding: 5px 15px;
  display: block; }
.header-section .navbar .navbar-nav li a.sp-btn {
  background-color: #faffa5;
  color: #3c5c71;
  border-radius: 10px;
  font: inherit; }
.header-section .navbar .navbar-nav li a.sp-btn:hover {
  background-color: #aedea4;
  color: #3c5c71; }
.header-section .navbar .navbar-nav li.active a, .header-section .navbar .navbar-nav li:hover a {
  color: #faffa5; }
.header-section .navbar .shopping-options {
  margin-bottom: 0;
  margin-left: 30px; }
.header-section .navbar .shopping-options li {
  display: inline-block;
  color: #faffa5;
  padding: 8px;
  font-size: 23px; }
.header-section .navbar .shopping-options li:hover a {
  color: #faffa5; }
.header-section .navbar .shopping-options li a {
  color: #aedea4; }

.main-home .carousel-container .carousel .ab-indicate-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: auto;
  display: flex;
  padding: 10px 20px 20px;
  justify-content: flex-end; }
.main-home .carousel-container .carousel .ab-indicate-container .carousel-indicators {
  position: static;
  margin: 0 10px;
  align-items: center; }
.main-home .carousel-container .carousel .ab-indicate-container .carousel-indicators .target {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #faffa5; }
.main-home .carousel-container .carousel .ab-indicate-container .carousel-indicators .target + .target {
  margin-left: 10px; }
.main-home .carousel-container .carousel .ab-indicate-container .carousel-ctrl {
  width: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faffa5;
  z-index: 15;
  font-size: 47px; }
.main-home .carousel-container .carousel .carousel-inner .carousel-item {
  height: 590px; }
.main-home .carousel-container .carousel .carousel-inner .carousel-item .item-inner-wrap {
  position: relative;
  height: 100%; }
.main-home .carousel-container .carousel .carousel-inner .carousel-item .item-inner-wrap .ab-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.5); }
.main-home .carousel-container .carousel .carousel-inner .carousel-item .item-inner-wrap .ab-caption .flex-protect {
  width: 100%; }
.main-home .carousel-container .carousel .carousel-inner .carousel-item .item-inner-wrap .ab-caption .flex-protect h1 {
  background-color: #3c5c71;
  color: #faffa5;
  padding: 0px 10px;
  font-size: 4vw; }
.main-home .carousel-container .carousel .carousel-inner .carousel-item .item-inner-wrap .ab-caption .flex-protect .sp-btn-primary {
  margin-top: 20px; }
.main-home .social-shopping-container .viber-whatapp {
  background-color: #faffa5;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
.main-home .social-shopping-container .viber-whatapp p {
  font: 20px "Arial-Black";
  color: #3c5c71; }
.main-home .social-shopping-container .viber-whatapp span:not(.text-uppercase) {
  font: 28px "Impact";
  color: #3c5c71; }
.main-home .social-shopping-container .viber-whatapp span:not(.text-uppercase) img {
  margin-left: 20px;
  max-height: 40px; }
.main-home .social-shopping-container .delivery {
  background-color: #aedea4;
  padding: 0 calc(100%/12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.main-home .new-arrivals-container {
  padding: 50px; }
.main-home .new-arrivals-container .show-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.main-home .new-arrivals-container .show-case .item-box {
  width: calc(100%/5);
  padding: 0 10px;
  display: block; }
.main-home .new-arrivals-container .show-case .item-box:hover {
  box-shadow: 0 0 10px #ccc; }
.main-home .new-arrivals-container .show-case .item-box .inner-wrap {
  padding: 10px 0;
  text-align: center; }
.main-home .new-arrivals-container .show-case .item-box .inner-wrap img {
  width: 100%;
  margin-bottom: 10px; }
.main-home .new-arrivals-container .show-case .item-box .inner-wrap .content-wrap {
  padding: 0 10px; }
.main-home .new-arrivals-container .show-case .item-box .inner-wrap .content-wrap .sp-price {
  font: 16px "Impact";
  color: #73a8a0;
  margin-bottom: 10px;
  display: block; }
.main-home .new-arrivals-container .show-case .item-box .inner-wrap .content-wrap .sp-btn-icon {
  margin-bottom: 0; }
.main-home .new-arrivals-container .show-more {
  padding: 30px 0 0;
  text-align: center; }
.main-home .new-arrivals-container .show-more .sp-btn-primary {
  background-color: #3c5c71;
  color: #fff;
  box-shadow: none; }
.main-home .new-arrivals-container .show-more .sp-btn-primary:hover {
  box-shadow: 3px 3px 5px #716868; }
.main-home .gift-container {
  padding: 50px 0; }
.main-home .gift-container .content-wrap {
  background: linear-gradient(to bottom, rgba(246, 42, 69, 0.65), rgba(246, 42, 69, 0.65)), url("images/gift-bg.jpg") top/cover no-repeat;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px; }
.main-home .gift-container .content-wrap h2 {
  color: #fff;
  font: 48px "Impact";
  margin-bottom: 0px; }
.main-home .gift-container .content-wrap img {
  display: block;
  margin: 0 auto 30px;
  max-height: 75px; }
.main-home .gift-container .content-wrap .sp-btn-primary {
  background-color: #fff; }
.main-home .gift-container .gift-carousel-container {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  position: relative; }
.main-home .gift-container .gift-carousel-container .owl-item {
  max-width: 265px;
  margin-top: 20px;
  margin-bottom: 10px; }
.main-home .gift-container .gift-carousel-container .gift-item-box:hover {
  box-shadow: 0 0 10px #ccc; }
.main-home .gift-container .gift-carousel-container .gift-item-box .inner-wrap img {
  width: 100%;
  height: auto; }
.main-home .gift-container .gift-carousel-container .gift-item-box .inner-wrap .item-content-wrap {
  padding: 10px;
  text-align: center; }
.main-home .gift-container .gift-carousel-container .gift-item-box .inner-wrap .item-content-wrap .sp-price {
  font: 18px "Impact";
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #73a8a0; }
.main-home .gift-container .gift-carousel-container .gift-item-box .inner-wrap .item-content-wrap .sp-btn-icon {
  background-color: #3c5c71;
  color: #fff;
  font: 15px "Arial";
  margin-bottom: 0; }
.main-home .gift-container .gift-carousel-container .owl-ctrl {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -35px;
  background-color: rgba(210, 210, 210, 0.8);
  color: #3c5c71;
  z-index: 15;
  font-size: 55px; }
.main-home .gift-container .gift-carousel-container .owl-ctrl.prev {
  left: 0; }
.main-home .gift-container .gift-carousel-container .owl-ctrl.next {
  right: 0; }

.footer-section {
  padding: 15px 0;
  background-color: #3c5c71;
  color: #fff;
  font: 15px "Arial"; }
.footer-section p {
  margin: 0; }
.footer-section .rights {
  text-align: left; }
.footer-section .design {
  text-align: right; }

/*# sourceMappingURL=style.css.map */
