@font-face{
    font-family: "Arial-Black";
    src: url('fonts/Arial-Black.ttf');
}
@font-face{
    font-family: "Arial-BoldMT";
    src: url('fonts/Arial-BoldMT.ttf');
}
@font-face{
    font-family: "Arial-MT";
    src: url('fonts/Arial-MT.ttf');
}
@font-face{
    font-family: "Arial";
    src: url('fonts/Arial.ttf');
}
@font-face{
    font-family: "Black-OpsOne";
    src: url('fonts/BlackOpsOne-Regular.ttf');
}
@font-face{
    font-family: "Impact";
    src: url('fonts/Impact.ttf');
}

a{
    font: inherit;
    color: inherit;
    &:hover{
        color: inherit;
        text-decoration: none;       
    }
}
ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
h1{
    font: 54px $im;
    text-transform: capitalize;
}
h2{
    font: 30px $a-BM;
    color: $blue;
    text-transform: capitalize;
    padding-bottom: 30px;
    .fa{
        margin-right: 10px;
    }
}
h3{
    /*font: 15px $a-M;*/
    font: 17px $a;
    color: $blue;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.sp-btn{
    display: inline-block;
    padding: 7px 20px;
    text-transform: capitalize;
    font: 20px $im;
    background-color: transparent;
    border: none;
}
.sp-btn-primary{
    color: $blue;
    background-color: $offwhite;
    box-shadow:  3px 3px 5px #716868;
}
.sp-btn-icon{
    border: 1px solid $blue;
    padding: 7px 10px;
    font: 16px $a;
    color: $blue;
    margin-bottom: 20px;
    .fa{
        margin-right: 10px;
    }
    &:hover{
        color: $offwhite;
        background-color: $blue;
        box-shadow:  3px 3px 5px #716868;
    }
}