.footer-section{
    padding: 15px 0;
    background-color: $blue;
    color: #fff;
    font: 15px $a;
    p{
        margin: 0;      
    }
    .rights{
        text-align: left;
    }
    .design{
        text-align: right;
    }
}