.header-section{
    .navbar{
        background-color: $blue;
        color: $offwhite;
        height: 60px;
        .navbar-brand{
            max-height: 50px;
            img{
                height: 40px;
            }                        
        }
        .navbar-nav{
            li{
                display: inline-block;
                font: 17px Arial;
                a{
                    color: $green;
                    padding: 5px 15px;
                    display: block;
                    &.sp-btn{
                        background-color: $offwhite;
                        color: $blue;
                        border-radius: 10px;
                        font: inherit;
                        &:hover{
                            background-color: $green;
                            color: $blue;
                        }
                    }
                }
                &.active, 
                &:hover{
                    a{
                        color: $offwhite;
                    }
                }
            }
        }
        .shopping-options{
            margin-bottom: 0;  
            margin-left: 30px;
            li{
                display: inline-block;
                color: $offwhite;
                padding: 8px;
                font-size: 23px;
                &:hover{
                    a{
                        color: $offwhite;
                    }
                }
                a{
                    color: $green;
                }
            } 
        }
    }
}
