.main-home{
    .carousel-container{
        .carousel{
            .ab-indicate-container{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: auto;
                display: flex;
                padding: 10px 20px 20px; 
                justify-content: flex-end;
                .carousel-indicators{
                    position: static;
                    margin: 0 10px;
                    align-items: center;
                    .target{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 3px solid $offwhite;
                        & + .target{
                            margin-left: 10px;
                        }
                    }
                }
                .carousel-ctrl{
                    width: 20px;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $offwhite;
                    z-index: 15;
                    font-size: 47px;
                }
            }
            .carousel-inner{
                .carousel-item{
                    height: 590px;
                    .item-inner-wrap{
                        position: relative;
                        height: 100%;
                        .ab-caption{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            width: 50%;
                            @include flex(block, center, center);
                            padding: 0 15px;
                            background-color: rgba(255, 255, 255, 0.5);
                            .flex-protect{
                                width: 100%;   
                                h1{
                                    background-color: $blue;
                                    color: $offwhite;
                                    padding: 0px 10px; 
                                    font-size: 4vw;
                                }
                                .sp-btn-primary{
                                    margin-top: 20px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
    .social-shopping-container{
        .viber-whatapp{
            background-color: $offwhite;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            p{
                font: 20px $a-B;   
                color: $blue;
            }
            span:not(.text-uppercase){
                font: 28px $im;
                color: $blue;
                img{
                    margin-left: 20px;
                    max-height: 40px;
                }
            }
        }
        .delivery{
            background-color: $green;
            padding: 0 calc(100%/12);
            @include flex(block, center, null);

        }
    }
    .new-arrivals-container{
        padding: 50px;
        .show-case{
            @include flex(block, center, null);
            .item-box{
                width: calc(100%/5);
                padding: 0 10px;
                display: block;
                &:hover{
                    box-shadow: 0 0 10px #ccc;
                }
                .inner-wrap{
                    padding: 10px 0;
                    text-align: center;
                    img{
                        width: 100%;
                        margin-bottom: 10px;
                    }  
                    .content-wrap{
                        padding: 0 10px;
                        .sp-price{
                            font: 16px $im;
                            color: #73a8a0;
                            margin-bottom: 10px;
                            display: block;
                        }
                        .sp-btn-icon{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .show-more{
            padding: 30px 0 0;
            text-align:  center;
            .sp-btn-primary{
                background-color: $blue;
                color: #fff;
                box-shadow: none;
                &:hover{
                    box-shadow:  3px 3px 5px #716868; 
                }
            }
        }
    }
    .gift-container{
        padding: 50px 0;
        .content-wrap{
            background: linear-gradient(to bottom, rgba(246, 42, 69, 0.65), rgba(246, 42, 69, 0.65)), url('images/gift-bg.jpg') top/cover no-repeat;
            padding: 50px 0;
            color: #fff;
            text-align: center;
            margin-left: -15px;
            margin-right: -15px;
            h2{
                color: #fff;
                font: 48px $im;
                margin-bottom: 0px;
            }
            img{
                display: block;
                margin: 0 auto 30px;
                max-height: 75px;

            }
            .sp-btn-primary{
                background-color: #fff;                
            }
        }
        .gift-carousel-container{
            margin-left: -15px;
            margin-right: -15px;
            @include flex(block, center, null);
            height: 100%;
            position: relative;
            .owl-item{
                max-width: 265px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .gift-item-box{
                &:hover{
                    box-shadow: 0 0 10px #ccc;
                }
                .inner-wrap{
                    img{
                        width: 100%;
                        height: auto;
                    }
                    .item-content-wrap{
                        padding:10px;
                        text-align: center;
                        .sp-price{
                            font: 18px $im;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                            color: $extra;
                        }
                        .sp-btn-icon{
                            background-color: $blue;
                            color: #fff;
                            font: 15px $a;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .owl-ctrl{
                position: absolute;
                top: 50%;
                width: 50px;
                height: 70px;
                @include flex(block, center, center);
                margin-top: -35px;
                background-color: rgba(210, 210, 210, 0.8);
                color: $blue;
                z-index: 15;
                font-size: 55px;
                &.prev{
                  left: 0;   
                }
                &.next{
                    right: 0;
                }
            }
        }
    }
}