
/* Color */

$blue: #3c5c71;
$offwhite : #faffa5;
$green : #aedea4;
$extra : #73a8a0;

/* Fonts */

$a : 'Arial';
$a-B : 'Arial-Black';
$a-M : 'Arial-MT';
$a-BM : 'Arial-BoldMT';
$b: 'Black-OpsOne';
$im : 'Impact';

/* --------------- MIXIN S ------------------*/

@mixin flex($type, $v-align, $h-align){
    
    @if($type == 'block'){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    @else{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    @if($v-align != 'null'){
        -webkit-box-align: $v-align;
        -ms-flex-align: $v-align;
        align-items: $v-align;
    }
    @if($h-align != 'null'){
        -webkit-box-pack: $h-align;
        -ms-flex-pack: $h-align;
        justify-content: $h-align;
    }
}